@import "../../scss/variables.scss";
@import "../../scss/responsive.scss";

.weatherDisplayDailyContainer {
  display: flex;
  gap: 1em;

  @include responsive(490) {
    margin: 20px 0px;
    flex-direction: column;
  }
}

.weekday {
  color: $navyBlue;
  font-weight: bolder;
}

.average-temp-number {
  display: flex;
  justify-content: center;
}

.celsius-sign-small {
  font-size: 15px;
}
