@import "../../scss/variables.scss";
.input-field {
  background-color: $lighterGray;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 5px $inputShadow;
  padding: 13px;
  display: flex;
  // max-height: 51px;

  > img {
    margin: auto;
    margin-right: 20px;
    height: 40px;
  }
}

.input-flag {
  // height: 100%;

  font-weight: bold;
  color: $darkGray;

  > button {
    font-weight: bold;
    border-color: $lightGray;
    border-radius: 15px;
    background-color: $white;
    padding: 5px 5px 5px 5px;
  }
}

.input-city-wrapper {
  display: flex;
  position: relative;
  border: none;

  background-color: $white;

  outline: none;
  margin-left: 10px;

  > .input-city-field {
    border-color: $lightGray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-right: 33px;
    padding-left: 10px;
    width: 100%;

    &:focus {
      border-color: $lightBlue;
    }

    &:hover {
      border-color: rgba($lightBlue, $alpha: 0.8);
      box-shadow: 0px 0px 6px 1px rgba($lightBlue, $alpha: 0.8);
    }
  }

  .search-button {
    background: none;
    border-style: none;
    position: absolute;
    right: 0;
    bottom: 10px;

    .loading-icon {
      height: 20px;
      animation: rotation 1s infinite linear;
    }

    .search-icon {
      height: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
