$inputBackground: #ebdaf4;
$inputShadow: rgba(133, 122, 139, 0.6);

$white: #fff;
$black: #000;
$dark-gray: #4d4d4f;
$mid-gray: #a0a0a0;
$light-gray: #eaeaea;
$lighter-gray: #fbfbfc;

$navy-blue: #18183c;
$light-blue: #d6e1d7;
