@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.display-average-wrapper {
  color: white;
  margin-top: 20px;

  @include mq("to", 600) {
    margin: 50px 0px;
    flex-direction: column;
  }
}

.date {
  font-size: 15px;
  font-weight: bolder;
  color: $navyBlue;
}

.display-average {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.celsius-sign {
  padding-top: 15px;
  font-size: 25px;
}
